@page "{id:int?}"
@model InchirieriEchipamenteAlpine.Pages.Distribuitori.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Distribuitori</h1>

<p>
    <a asp-page="Create">Creeaza Nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Distribuitor[0].NumeDistribuitor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DistribuitorData.Distribuitori)
        {
            string selectedRow = ""; if (item.ID == Model.DistribuitorID) { selectedRow = "table-success"; }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeDistribuitor)
            </td>
            <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Selecteaza</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.DistribuitorData.EchipamenteAlpine != null)
{
     <h3>Echipamente distribuite de distrbuitorul selectat</h3>
    <table class="table">
        @foreach (var item in Model.DistribuitorData.Distribuitori)
        {
            string selectedRow = ""; if (item.ID == Model.DistribuitorID) { selectedRow = "table-success"; }
            <tr class="@selectedRow">
                <td>
                    @{
                        foreach (var b in item.EchipamenteAlpine)
                        {
                            @b.Denumire @: @b.Distribuitor.NumeDistribuitor
                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
